In [3]:
import pandas as pd

# Minimum Wage

In [32]:
from tabula.io import read_pdf
# I tried to load directly from the PDF I have found, but I got some bugs, so I made a CSV by my own based on the PDF
# I can't read the pages after the second one
# If i use pages=3 or more, it gives me an empy list
df = read_pdf("data/Min_Sal/Tabela-Valores-SalarioMinimo-1940a2022_orig.pdf", pages=2)
df

[        Maio 1974     Decreto no 73995, de 1974      Cr$ 376,80
 0   Dezembro 1974          Lei no 6147, de 1974      Cr$ 415,20
 1       Maio 1975     Decreto no 75679, de 1975      Cr$ 532,80
 2       Maio 1976     Decreto no 77510, de 1976      Cr$ 768,00
 3       Maio 1977     Decreto no 79610, de 1977    Cr$ 1.106,40
 4       Maio 1978     Decreto no 81615, de 1978    Cr$ 1.560,00
 5       Maio 1979     Decreto no 84135, de 1979    Cr$ 2.268,00
 6   Novembro 1979     Decreto no 84135, de 1979    Cr$ 2.932,80
 7       Maio 1980     Decreto no 84674, de 1980    Cr$ 4.149,60
 8   Novembro 1980     Decreto no 85310, de 1980    Cr$ 5.788,80
 9       Maio 1981     Decreto no 85950, de 1981    Cr$ 8.464,80
 10  Novembro 1981     Decreto no 86514, de 1981   Cr$ 11.928,00
 11      Maio 1982     Decreto no 87139, de 1982   Cr$ 16.608,00
 12  Novembro 1982     Decreto no 87743, de 1982   Cr$ 23.568,00
 13      Maio 1983     Decreto no 88267, de 1983   Cr$ 34.776,00
 14  Novembro 1983     Decreto no 88930, de 1983   Cr$ 57.120,00
 15      Maio 1984     Decreto no 89589, de 1984   Cr$ 97.176,00
 16  Novembro 1984     Decreto no 90301, de 1984  Cr$ 166.560,00
 17      Maio 1985     Decreto no 91213, de 1985  Cr$ 333.120,00
 18  Novembro 1985     Decreto no 91861, de 1985  Cr$ 600.000,00
 19     Março 1986  Decreto-Lei no 2284, de 1986      Cz$ 804,00
 20   Janeiro 1987    Portaria  no 3019, de 1987      Cz$ 964,80
 21     Março 1987     Decreto no 94062, de 1987    Cz$ 1.368,00
 22      Maio 1987    Portaria  no 3149, de 1987    Cz$ 1.641,60
 23     Junho 1987    Portaria  no 3175, de 1987    Cz$ 1.969,92
 24    Agosto 1987  Decreto-Lei no 2351, de 1987    Cz$ 1.970,00
 25  Setembro 1987     Decreto no 94815, de 1987    Cz$ 2.400,00
 26   Outubro 1987     Decreto no 94989, de 1987    Cz$ 2.640,00
 27  Novembro 1987     Decreto no 95092, de 1987    Cz$ 3.000,00
 28  Dezembro 1987     Decreto no 95307, de 1987    Cz$ 3.600,00
 29   Janeiro 1988     Decreto no 95479, de 1987    Cz$ 4.500,00]

In [17]:
df = pd.read_csv("data/Min_Sal/min_sal.csv")
# Here I just transformed an data like "Julho 1940" (July 1940) into 1940-07
months = ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"]
numbers = [f"{x:02}" for x in range(1,13)]
data_dict = dict(zip(months,numbers))

for mes, num in data_dict.items():
    df["data"] = df["data"].str.replace(mes, num)

df['data'] = pd.to_datetime(df['data'], format='%m %Y')
df["data"] = df["data"].dt.strftime("%Y-%m")
df

        data currency_code    value
0    1940-07            Rs  240$000
1    1943-01           Cr$   300.00
2    1943-12           Cr$   380.00
3    1952-01           Cr$  1200.00
4    1954-07           Cr$  2400.00
..       ...           ...      ...
128  2019-01            R$   998.00
129  2020-01            R$  1039.00
130  2020-02            R$  1045.00
131  2021-01            R$  1100.00
132  2022-01            R$  1212.00

[133 rows x 3 columns]

# GDP