In [2]:
import pandas as pd

# Minimum Wage

In [ ]:
from tabula import read_pdf
# I tried to load directly from the PDF I have found, but I got some bugs, so I made a CSV by my own based on the PDF
df = read_pdf("data/Min_Sal/Tabela-Valores-SalarioMinimo-1940a2022_orig.pdf")
df

In [17]:
df = pd.read_csv("data/Min_Sal/min_sal.csv")
# Here I just transformed an data like "Julho 1940" (July 1940) into 1940-07
months = ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"]
numbers = [f"{x:02}" for x in range(1,13)]
data_dict = dict(zip(months,numbers))

for mes, num in data_dict.items():
    df["data"] = df["data"].str.replace(mes, num)

df['data'] = pd.to_datetime(df['data'], format='%m %Y')
df["data"] = df["data"].dt.strftime("%Y-%m")
df

        data currency_code    value
0    1940-07            Rs  240$000
1    1943-01           Cr$   300.00
2    1943-12           Cr$   380.00
3    1952-01           Cr$  1200.00
4    1954-07           Cr$  2400.00
..       ...           ...      ...
128  2019-01            R$   998.00
129  2020-01            R$  1039.00
130  2020-02            R$  1045.00
131  2021-01            R$  1100.00
132  2022-01            R$  1212.00

[133 rows x 3 columns]

# GDP